# to build python-ldap: apt install libsasl2-dev libldap2-dev libssl-dev
wheel
psycopg2-binary
django~=3.2.11
django-auth-ldap
gunicorn
orderedattrdict
jinja2
PyYAML
pika
zeep
pynetbox
PyMySQL
sphinx
sphinx-material
sphinx_rtd_theme
python-dotenv

# for emmgr
ssh2-python
